{% extends "index.html" %}
        {% block content %}
        <div>
            <form action="">
            Volume/Quantity of crop in KGs <input type="number" min="100" id="volume" required>
            <br>
            Type of Potato <select id="typeofpotato" required>
                <option value="jyoti">Jyoti</option>
                <option value="desi">Desi</option>
                <option value="other">Other</option>
            </select>
            <br>
            Origin <input type="text" id="origin" pattern="([a-zA-Z])" required>
            <br>
            <input type="submit" onclick=sub() value="Submit">  
        </form>
        </div>
        {% endblock %}
    
<script>
        function sub(){
        console.log("Hello");
        var origin = document.getElementById("origin").value;
        var destination = document.getElementById("destination").value;
        console.log("Hello");
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange() = function(){
                if(this.readyState == 4 && this.status == 200){
                        document.getElementById("result").innerHTML = xhttp.responseText;
                }
        };
        xhttp.open("GET", "https://maps.googleapis.com/maps/api/distancematrix/json?origins=Seattle&destinations=San+Francisco&key=AIzaSyD_7ofBFJZE0BOXSDxXPjrydFhNFZNKB4A", true);
        xhttp.send();

        }
        </script>
</body>
</html>