<!DOCTYPE html>
<html>
    <head>
        <script src="farmer.html"></script>
        <title>{{ title }} - Microblog</title>
    </head>
    <body>
        <p> Below is the navigation panel for the app.</p>
        <div>
            <a href='/index'> Index</a> <hr>
            <a href='/query'> Run Query</a> <hr>
            <a href='/farmer'>Farmer Input Form</a> <hr>
            
        </div>
        {% block content %}
        <div>
            <h1>Home Page</h1>
            <br>
            <h3>Welcome, underachiever dude Kisaan.</h3> 
            
            <p>Worried you can't make enough profit for your family, or to repay your loans? Fret not, because...</p>
            
            <h3>We got your back!</h3> 
        </div>
         {% endblock %}
    </body>
</html>