{% extends "index.html" %}

    {% block content %}
<!-- 
        <div>
            <h1>Welcome to Sloth Bear zone.</h1>
            <h2> Hello, Kanika the madira enthusiast.</h2>
        </div>     -->
    {% endblock %}