{% extends "index.html" %}

    {% block content %}

        <div>
            <h1> Welcome to prototype query page.</h1>
            <form action="" method="GET" novalidate>
                    <p>
                            <input type="text" id="origin" value="Origin" pattern="[a-zA-Z ]">
                    </p>
                    <p>
                           <input type="text" id="destination" value="Destination" pattern="[a-zA-Z ]">
                    </p>
                    
                    <br>
                    <input type="submit" onclick="sub()" value="Find Mandis">
            </form>
        </div>    
        <div id="result">

        </div>
        {% endblock %}
        <!-- <script>
        function sub(){
        
        var origin = document.getElementById("origin").value;
        var destination = document.getElementById("destination").value;
        console.log("Hello");
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function(){
                if(this.readyState == 4 && this.status == 200){
                        document.getElementById("result").innerHTML = xhttp.responseText;
                }
        };
        xhttp.open("GET", "https://maps.googleapis.com/maps/api/distancematrix/json?origins=Seattle&destinations=San+Francisco&key=AIzaSyD_7ofBFJZE0BOXSDxXPjrydFhNFZNKB4A", true);
        xhttp.send();

        }
        </script> -->
    